body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  height: 10rem;
}

#customers td,
#customers th {
  border: 2px solid #ffffff;
  padding: 8px;
}

#customers tr:nth-child(odd) {
  background-color: #e9edf4;
}
#customers tr:nth-child(even) {
  background-color: #d0d8e8;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4f81bd;
  color: white;
}

.row1 {
  padding: 0;
  margin: 0;
  height: 25rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.row2 {
  padding: 0;
  margin: 0;
  height: 24rem;
}

.piechart_div {
  height: 8rem;
  width: 8rem;
  position: relative;
}
#tag1 {
  border: 1px solid grey;
  box-shadow: 1.25rem 1.25rem 2.5rem grey;
}
#tag2 {
  border: 1px solid grey;
  box-shadow: 1.25rem 1.25rem 2.5rem grey;
}
#tag3 {
  border: 1px solid grey;
  box-shadow: 1.25rem 1.25rem 2.5rem grey;
}
#tag4 {
  border: 1px solid grey;
  box-shadow: 1.25rem 1.25rem 2.5rem grey;
}

.center_text{
  position: absolute;
  top: 69%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
}

.table{
  overflow: scroll; 
  height: 17rem; 
  width: 100%; 
  box-shadow: 1.25rem 1.25rem 2.5rem grey; 
  border: 1px solid black;
}


.line-graph{
  border: 1px solid grey;
}