body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    height: 10rem;
  }
  
  #customers td, #customers th {
    border: 2px solid #FFFFFF;
    padding: 8px;
  }
  
  #customers tr:nth-child(odd){background-color: #e9edf4;}
  #customers tr:nth-child(even){background-color: #d0d8e8;}
  
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4f81bd;
    color: white;
  }

  .row1{
    padding: 0;
    margin: 0;
height: 25rem;
display:flex;
justify-content:space-around;
align-items:center;

  }

  .row2{
    padding: 0;
    margin: 0;
    height: 24rem;
  }

  .piechart_div{
   
    height:8rem;
    width: 8rem;
  }
#tag1{
  border: 1px solid black;
}
#tag2{
  border: 1px solid black;
}
#tag3{
  border: 1px solid black;
}
#tag4{
  border: 1px solid black;
}
  /* .right_main{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: row;
    height: 100%;
    min-width: 20rem;
    
  }

  .right_main_first{
    height: 100%;
  }
  .right_main_second{
    height: 100%;
  }

  .line-graph{
    height: 19rem;
  } */
